##
/.vs/MyCryptoProjects.slnx/FileContentIndex/2ce81194-e5ac-4a87-b710-b3f7c835cc0c.vsidx
/.vs/MyCryptoProjects.slnx/FileContentIndex/3a19ccb6-cc1f-496e-b7bb-5db973ad2c36.vsidx
/.vs/MyCryptoProjects.slnx/FileContentIndex/4a23e547-2669-4d45-acc3-abb37baad209.vsidx
/.vs/MyCryptoProjects.slnx/FileContentIndex/9da2d82a-440c-46be-85f4-75aa2103db9a.vsidx
/.vs/MyCryptoProjects.slnx/FileContentIndex/a65e103d-9dd0-49ec-b2ee-351d021e102f.vsidx
